.zk-ui-header {
    border-radius: 0;
    box-shadow: 2px 2px 2px #d9d9d9;
    width: 100%;
    background: white;
    padding: 10px 30px;
    display: table;
    box-sizing: border-box;

    &:before {
        display: table;
        content: " ";
    }

    .zk-ui-header-button {
        display: table-cell;
        cursor: pointer;
        text-align: center;
        width: 50px;
        color: #6d6d6d;
        border-radius: 2px;
        border: 1px solid #eeeeee;
        position: relative;

        .zk-ui-uploader {
            -webkit-appearance: none;
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }

    .zk-ui-trace-search {

        display: table-cell;
        padding: 0px 10px;

        .zk-ui-input {
            width: 300px;
            border-bottom: 1px solid #4399b4;
            background: transparent;
            color: black;
            padding-left: 0;
        }

        .fa.fa-search {
            color: white;
            background: #4399b4;
            padding: 10px;
            border-radius: 50%;
        }
    }
}
