.zk-ui-header {
    padding: 0;
    border-radius: 0;
    box-shadow: 2px 2px 2px #d9d9d9;
    width: 100%;
    background: white;
    padding: 10px 30px;
    display: table;
    box-sizing: border-box;

    &:before {
        display: table;
        content: " ";
    }

    .zk-ui-sidebar-toggle {
        display: table-cell;
        cursor: pointer;
    }

    .zk-ui-trace-search {

        display: table-cell;

        .zk-ui-input {
            width: 300px;
            border-bottom: 1px solid #4399b4;
            background: transparent;
            color: black;
            padding-left: 0;
        }

        .fa.fa-search {
            color: white;
            background: #4399b4;
            padding: 10px;
            border-radius: 50%;
        }
    }
}
