.zk-ui-sidebar {
    width: 300px;
    min-width: 300px;
    box-shadow: rgba(0, 0, 0, 0.42) 0px 10px 30px -12px,
        rgba(0, 0, 0, 0.12) 0px 4px 25px 0px,
        rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    background: #2d303b;
    overflow: auto;
    transition: all 0.2s ease;

    .zk-ui-logo {
        position: relative;
        padding: 15px;
        z-index: 4;
        color: white;
        font-size: 20px;
        text-transform: uppercase;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &.zk-ui-sidebar-collapsed {
        margin-left: -300px;
    }

    overflow-x: hidden;
    overflow-y: auto;

    .zk-ui-sidebar-wrapper {

        .zk-ui-form-control-container {
            margin: 15px 15px;

            i.pull-right {
                float: right;
            }

            .zk-ui-form-control-label {
                color: white;
                font-weight: bold;
                text-transform: uppercase;
                font-size: 10px;
                display: block;
                margin-bottom: 15px;
                font-family: sans-serif;
                position: relative;
            }

            .ui.button,
            .ui.input {
                width: 100%;
            }
        }
    }
}
