@import "~font-awesome/css/font-awesome.min.css";
@import "~typeface-pt-sans/index.css";

@import './components/common/controls/common';
@import './components/common/controls/combobox';
@import './components/common/controls/datepicker';
@import './components/common/sidebar';
@import './components/common/header';
@import './containers/browser';
@import './containers/trace';
@import './containers/error';


body,
html,
#app {
    height: 100%;
    margin: 0;
    background-color: rgb(238, 238, 238);
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.zk-ui-container {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}
