@import "~font-awesome/css/font-awesome.min.css";
@import "~typeface-pt-sans/index.css";

@import './components/common/controls/common';
@import './components/common/controls/combobox';
@import './components/common/controls/datepicker';
@import './components/common/controls/dropdown';
@import './components/common/sidebar';
@import './components/common/header';
@import './containers/browser';
@import './containers/trace';
@import './containers/error';


body,
html,
#app {
    height: 100%;
    margin: 0;
    background-color: rgb(238, 238, 238);
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.zk-ui-container {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;

    .zk-ui-content {
        position: relative;
        transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
        flex: 1;

        .zk-ui-content-container {
            min-width: 800px;
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
}
