.zk-ui-content {
    position: relative;
    transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
    overflow: auto;
    flex: 1;

    .zk-ui-browser {
        margin-top: 15px;
        padding: 10px 15px;
        min-height: calc(100% - 123px);

        .zk-ui-browser-container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            .zk-ui-card {

                .zk-ui-browser-card-cell {
                    padding: 10px;
                    border-bottom: 1px solid #f8f8f8;

                    &:hover {
                        background: #f0f7f9;
                        cursor: pointer;
                    }

                    .zk-ui-browser-card-cell-container {
                        margin-bottom: 5px;

                        > table {
                            width: 100%;

                            .zk-ui-browser-card-cell-span-name {
                                width: 40%;

                                .zk-ui-browser-card-cell-num-spans {
                                    font-size: 10px;
                                    font-weight: bold;
                                    color: #3b3b3b;
                                    padding-top: 5px;
                                }
                            }

                            .zk-ui-browser-card-cell-span-info {
                                width: 60%;
                            }

                            .zk-ui-browser-card-cell-span-width {
                                height: 2px;
                                width: 70%;
                                background: #4399b4;
                            }

                            .zk-ui-browser-card-cell-span-duration {
                                padding-top: 5px;
                                width: 50%;
                                display: inline-block;
                                padding-bottom: 10px;
                            }

                            .zk-ui-browser-card-cell-span-date {
                                padding-top: 5px;
                                width: 50%;
                                display: inline-block;
                                text-align: right;
                                font-size: 10px;
                            }
                        }
                    }
                }

                .zk-ui-browser-card-content-placeholder {
                    width: 135px;
                    margin: auto;
                    display: block;
                    margin-top: 40px;
                    opacity: 0.1;
                }

            }

        }
    }

    .zk-ui-trace-viewer {
        margin-top: 15px;
        padding: 10px 15px;
        min-height: calc(100% - 123px);

        .zk-ui-trace-viewer-container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;

            .zk-ui-card-content {
                width: 100%;
                padding: 10px;
                box-sizing: border-box;

                .zk-ui-trace-table {
                    width: 100%;
                    text-align: left;
                    padding: 10px;
                    table-layout: fixed;
                    font-size: 12px;
                    border-collapse: collapse;

                    td {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        border-left: 1px solid #e8e8e8;

                        &:nth-child(1) {
                            border-left: 0;
                        }
                    }

                    tr:hover {
                        background: #eff0f1;
                        cursor: pointer;
                    }

                    .zk-ui-trace-span-context-row:hover {
                        background: inherit;
                    }

                    th {
                        border-left: 1px solid #e8e8e8;
                        padding: 2px;
                        &:nth-child(1) {
                            border-left: 0;
                        }
                    }

                    .zk-ui-trace-span {
                        height: 10px;
                        border-radius: 2px;
                        background: #5fd2f7;
                    }

                    .zk-ui-trace-span-name {
                        display: inline-block;
                        margin-left: 5px;
                        color: silver;
                    }

                    .zk-ui-trace-span-context {
                        min-height: 200px;
                        box-shadow: 0px 0px 1px #ababab;
                        padding: 10px;

                        > table {
                            width: 100%;
                        }
                    }

                    .zk-ui-trace-service-name {
                        .fa.fa-minus {
                            margin-right: 5px;
                            &.hidden {
                                visibility: hidden;
                            }
                        }
                    }
                }

                .zk-ui-trace-span-context-table {
                    td {
                        border-left: 0;
                    }
                    th {
                        border-left: 0;
                    }
                    tr:hover {
                        background: inherit;
                    }
                    .header {
                        font-weight: bold;
                        font-size: 12px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                    }
                }
            }
        }
    }

}
