.error-container {
    background: white;
    padding: 90px;
    color: #adadad;
    text-align: center;

    .code {
        font-size: 100px;
    }

    a {
        margin-top: 15px;
        display: block;
        color: #4399b4;
    }
}
