.zk-ui-trace-viewer {
    margin-top: 15px;
    padding: 10px 15px;
    flex: 1;
    overflow: hidden;

    .zk-ui-card-header {
        display: flex;

        .zk-ui-card-header-padding {
            flex: 1;
        }

        .zk-ui-button {
            background: #60b3ce;
            display: inline-block;
            width: auto;
        }
    }

    .zk-ui-trace-viewer-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        height: 100%;

        .zk-ui-card {

            max-height: 100%;
            display: flex;
            flex-direction: column;

            .zk-ui-card-content {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            overflow-x: auto;

            .zk-ui-trace-table {
                width: 100%;
                text-align: left;
                padding: 10px;
                table-layout: fixed;
                font-size: 12px;
                border-collapse: collapse;

                td {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-left: 1px solid #e8e8e8;

                    &:nth-child(1) {
                        border-left: 0;
                    }
                }

                tr:hover {
                    background: #eff0f1;
                    cursor: pointer;
                }

                .zk-ui-trace-span-context-row:hover {
                    background: inherit;
                }

                th {
                    border-left: 1px solid #e8e8e8;
                    padding: 2px;
                    &:nth-child(1) {
                        border-left: 0;
                    }
                }

                .zk-ui-trace-span {
                    border-radius: 2px;
                    background: #caeaf5;
                    white-space: nowrap;
                    padding: 2px;
                }

                .zk-ui-trace-span-name {
                    display: inline-block;
                    margin-left: 5px;
                    color: #504f4f;
                    white-space: nowrap;
                    overflow: auto;
                    text-overflow: ellipsis;
                }

                .zk-ui-trace-span-context {
                    box-shadow: 0px 0px 1px #ababab;
                    padding: 10px;

                    .zk-ui-trace-span-context-table {
                        table-layout: fixed;
                        width: 100%;

                        td {
                            border-left: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        th {
                            border-left: 0;
                        }
                        tr:hover {
                            background: inherit;
                        }
                        .header {
                            font-weight: bold;
                            font-size: 12px;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                    }

                    .zk-ui-trace-span-name {
                        font-size: 20px;
                        border-bottom: 1px solid silver;
                        display: block;
                        padding-bottom: 7px;
                    }
                }

                .zk-ui-trace-service-name {
                    .fa.fa-minus,
                    .fa.fa-plus {
                        color: #5fd2f7;
                        margin-right: 5px;
                        &.hidden {
                            visibility: hidden;
                        }
                    }
                }
            }

            .zk-ui-trace-span-selected {
                background: #e9f2f5;
            }
        }
        }
    }
}
