.zk-ui-combobox {
     position: relative;

    .zk-ui-combobox-container {
        display: flex;
        > .zk-ui-input {
            flex: 1;
        }
    }

    .zk-ui-dropdown-button {
        display: inline-block;
        width: 36px;
        background: #161616;
        transition: all 0.2s ease;
        cursor:pointer;

        .zk-ui-arrow-down {
            margin-top: calc(50% - 2.5px);
        }

        &:hover {
            background: #68c4dc;
        }
    }

    .zk-ui-popover-content {
      background: white;
      max-height: 200px;
      overflow: auto;
    }

    .zk-ui-combobox-container {
      display: flex;
    }

    .zk-ui-combobox-row {
      padding: 10px;
      font-family: inherit;
      font-size: 12px;
    }

    .zk-ui-combobox-row:hover {
      background: #68c4dc;
      color: white;
      cursor: pointer;
    }
}
