.zk-ui-button {
    padding: 12px;
    width: 100%;
    border: 0;
    color: white;
    font-weight: bold;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: 10px;

    &.primary {
        background: #4399b4;
    }
}

textarea.zk-ui-input {
    border: 0;
    outline: 0;
    background: #1c1e24;
    color: white;
    font-family: inherit;
    box-sizing: border-box;
    padding: 8px;
    resize: vertical;
    width: 100%;
}

input.zk-ui-input {
    width: 100%;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    font-size: 14px;
    border: 0;
    transition: all 0.2s ease;
    text-overflow: ellipsis;
    &.dark {
        background: #1c1e24;
        color: white;
    }
    &:active,
    &:focus {
        border: 0;
    }
    outline: 0;
}

.zk-ui-arrow-up {
     width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    margin: auto;
}

.zk-ui-arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    margin: auto;
    margin-top: 50%;
}

.zk-ui-card {
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 4px 0px;
    border-radius: 0px;
    color: rgba(0, 0, 0, 0.87);
    background: rgb(255, 255, 255);
    min-height: 200px;
}

.zk-ui-card-header {
    border-radius: 0px;
    padding: 8px;
    background: rgb(67, 153, 180);
    color: white;
}
