.zk-ui-datepicker {

    position: relative;

    .DayPicker-wrapper {
        outline: none;
        padding-bottom: 0;
    }

    .DayPicker {
        display: block;
    }

    .zk-ui-datepicker-time-label {
        font-size: 11px;
        white-space: nowrap;
        text-align: right;
        padding-right: 10px;
    }

    .Selectable .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
  }
  .Selectable .DayPicker-Day {
    border-radius: 0 !important;
  }
  .Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
  }
  .Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
  }

    .zk-ui-datepicker-container {
        display: flex;

        > .zk-ui-input {
            flex: 1;
            margin-right: 2px;
        }

        .zk-ui-dropdown-button {
            display: table;
            width: 36px;
            height: 36px;
            background: #161616;
            transition: all 0.2s ease;
            cursor:pointer;
            &:hover {
                background: #68c4dc;
            }

            .fa.fa-calendar {
                display: table-cell;
                vertical-align: middle;
                color: white;
                font-size: 10px;
                text-align: center;
            }
        }
    }

    .zk-ui-datepicker-predefined {
        flex-direction: column;
        background: #1c1e24;
    }

    .zk-ui-datepicker-predefined-row {
        padding: 5px;
        background: #161616;
        margin: 5px;
        border-radius: 2px;
        font-size: 11px;
        cursor: pointer;
        white-space: nowrap;
        color: white;
        &:hover {
            background: #68c4dc;
        }
    }

    .zk-ui-datepicker-calendars {
        font-size: 12px;
    }

    .DayPicker-Months {
        flex-wrap: nowrap;
    }

    .zk-ui-datepicker-time {
        margin: 15px;
        margin-top: 0;
        label {
            display: block;
        }

        .zk-ui-datepicker-date-label {
            white-space: nowrap;
            font-size: 12px;
            text-align: right;
            padding-right: 10px;
        }

        .zk-ui-datepicker-time-input {
                input {
                    width: 100%;
                    display: inline-block;
                    margin-top: 10px;
                    margin-bottom: 15px;
                    font-size: 12px;
                    padding: 4px;
                    border: 0;
                    border-bottom: 1px solid #4399b4;
                    background-color: white;
                    padding-left: 0;
                    outline: 0;
                    box-sizing: border-box;
                    margin-right: 2px;
                }
        }

    }

    table {
        width: 100%;
    }
}
