.zk-ui-header {
    position: fixed;
    padding: 0;
    border-radius: 0;
    box-shadow: 2px 2px 2px #d9d9d9;
    width: 100%;
    background: white;
    left: 260px;
    min-height: 50px;

    &:before {
        display: table;
        content: " ";
    }
}
